html,
body {
    margin: 0;
    padding: 0;
}
/**************************************************Header style **/
.heading {
    margin: 0;
    background-color: #2a22992c;
    max-height: 60px;
    font-family: "Exo", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:  #fff;
    text-align: center;
}

.heading span{
    font-family: "Times New Roman", sans-serif ;
}

.vertnavbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu {
    max-height: 360px;
    margin: 0;
    padding: 0;
} 
.menu li{
    height: 80px;  
    text-align: center;    
}

.menu li a {
    vertical-align: 120px; 
}


#opt1 {
    background-color: aqua;
}

#opt2 {
    background-color: aquamarine;
}
#opt3 {
    background-color: #5aac0d;
}
#opt4 {
    background-color: coral;
}
/***taken from mini-project:Rosie Odenkirk by Matt Rudge@Code-Institute**/
.logo {
    background: url("../images/mortar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;/* changed*/
    background-color: #206faff6;
    padding-top: 25px;
    max-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
/********/

.floatingheader {
    position: fixed;
    float: none;
}